body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav {
    text-align: right;
    margin-top: -40px;
    margin-right: 20px;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

nav button i {
    margin-right: 5px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.product-details {
    display: flex;
    max-width: 1000px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-image {
    flex: 1;
    max-width: 500px;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.buy-info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buy-info h2 {
    margin: 20px 0 10px 0;
}

.buy-info .prijs {
    margin: 10px 0;
    font-size: 64px;
    color: red;
    font-weight: 600;
}
.buy-info sup {
    font-size: 35px;
}
.buy-info button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buy-info button:hover {
    background-color: #0056b3;
}
.product-name {
    font-size: 26px;
}
img {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}